html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

#divForm {
    width: 65%;
    margin-left: 12.5%;
}


#mailto {
    color: white;
    text-decoration: none;
}

button {
    margin: 2px;
    margin-bottom: 0px;
}

#moreInfo {
    float: right;
}

#butMoreInfo {
    background-color: black;
    color: white;
}

#btnPagesInfo {
    color:white;
    text-decoration: none;
}